@page "/pizzas"
<div class="main">
    <h3>Choose your pizza</h3>

    <p>We have all these delicious recipes:</p>
    @if (_todaysPizzas == null)
    {
        <p>We're finding out what pizzas are available today...</p>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>Pizza Name</th>
                <th>Description</th>
                <th>Vegetarian?</th>
                <th>Vegan?</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pizza in _todaysPizzas)
            {
                @* <tr> *@
                @*     <td>@pizza.Name</td> *@
                @*     <td>@pizza.Description</td> *@
                @*     <td>@pizza.Vegetarian</td> *@
                @*     <td>@pizza.Vegan</td> *@
                @*     <td>@pizza.Price</td> *@
                @* </tr> *@
            }
            </tbody>
        </table>
    }
</div>
@using BlazingPizza.Data;
@inject PizzaService PizzaSvc;

@code
{
    private List<Pizza> _todaysPizzas;

    protected override async Task OnInitializedAsync()
    {
    // _todaysPizzas = await PizzaSvc.GetPizzasAsync();
        _todaysPizzas = new List<Pizza>();
    }
}